body{
	background-color: #595a5e;
}

h2{
text-align: center;
background-color: #0a0a0a;
font-family: Segoe Script;
color: #4774e6;
}
h1{
text-align: center;
font-family: Segoe Script;
color: #0a0a0a;
}

container{

font-family: Segoe Script;
color: #4774e6;

}
button.btn:nth-child(6){
font-family: Segoe Script;
color: #4774e6;
}
button.btn:nth-child(2){
font-family: Segoe Script;
color: #4774e6;

}
.nav > li:nth-child(1) > a:nth-child(1){
font-family: Segoe Script;
color: #4774e6;

}
.navbar-brand{
font-family: Segoe Script;
color: #4774e6;
}
#username{
font-family: Segoe Script;
}
#password{
font-family: Segoe Script;
}

.d-print-none{
}
h5{
align: right;
font-family: Segoe Script;
color: #00aced;
}

.card-body{
text-align: center;
font-family: Segoe Script;
color: #4774e6;
}
.jumbotron{
color: #4774e6;
background-color: #0a0a0a;
float: none;
padding-left: 100px;
padding-right: 100px;
padding-top: 100px;
padding-bottom: 100px;
margin-left: 440px;
margin-right:470px;
margin-top: 25px;
margin-bottom: 25px;
border-radius: 6px;
border-left-width: 10px;
border-left-style: solid;
border-right-width: 10px;
border-right-style: solid;
border-top-width: 10px;
border-top-style: solid;
border-bottom-width: 10px;
border-bottom-style: solid;

}
.btn{
font-family: Segoe Script;
color: #4774e6;
background-color: #0a0a0a;
font-size:25px
}
.container > div:nth-child(1) > div:nth-child(3) > div:nth-child(1){
font-family: Segoe Script;
color: #0a0a0a;
font-size:30px;
text-align: center;

}
ul.nav:nth-child(1) > li:nth-child(2) > a:nth-child(1){
font-family: Segoe Script;
color: #00aced;
font-size:15px;
text-align: center;
}
p{
font-family: Segoe Script;
color: #b6ccd6;
text-align: center;
}



body.home .mini-card-grid {
    scrollbar-color: #666 #201c29;
    scrollbar-gutter: always;
    padding: 3rem 0 3rem 2rem;
    margin: 0;
    display: flex;
    overflow-x: scroll;
    }

    .mini-card-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
        position: relative;
        }