<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Feed</title>
    <div th:replace="fragments/styles :: head-styles"></div>

</head>

 <body>

   <div class="container" style="color: #00aced">
    <div th:replace="fragments/navbar :: navbar"></div>
    <div th:replace="fragments/card :: body-card"></div>
       <div th:replace="fragments/jumbotroncss :: body-jumbo"></div>
       <div th:insert="fragments/footer :: footer"></div>
 </body>
</html>







