<!DOCTYPE html>
<!-- TODO(): Update spring security to version 5 -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Log in</title>

    <div th:replace="fragments/styles :: head-styles"></div>

</head>

<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <img src="https://i.pinimg.com/originals/8b/5e/1b/8b5e1bd9084165e039753cf4a12c9006.gif" width="250" class="jumbotron" alt="llama".mx-auto="">
        <h1>Welcome to the TTS Twilight Twitter Page!</h1>
        <h1>Please enter your info below to login.</h1>
    </div>

    <form th:action="@{/login}" method="post"><br/>
        <input type="text" id="username" name="username" th:placeholder="Username" class="form-control"/> <br/>
        <input type="password" th:placeholder="Password" id="password" name="password" class="form-control"/> <br/>
        <div align="center" th:if="${param.error}">
            <h4 style="color: red">Login unsuccessful.</h4>
        </div>
        <button class="btn btn-md btn-dark btn-block" name="Submit" value="Login" type="Submit">Log in</button>

    </form>
<!--    changed this on 2/23/21 from get to post-->
    <form th:action="@{/signup}" method="post"><br/>
        <button class="btn btn-md btn-dark btn-block" name="Submit" value="Submit" type="Submit">Sign up</button>
    </form>

</div>

</body>
</html>